@using Volo.Abp.Ui.Branding
@inject IBrandingProvider BrandingProvider

<a href="/" class="d-flex align-center" style="text-decoration: none; color: inherit;">
  @if(!BrandingProvider.LogoUrl.IsNullOrEmpty())
  {
    <MudImage Src="@BrandingProvider.LogoUrl" Alt="@BrandingProvider.AppName" Height="28" Class="me-2" />
  }
  <MudText Typo="Typo.h6" Class="ms-1">@BrandingProvider.AppName</MudText>
</a>
